  <div class="tela_interna black-border">

    <div id="titulo-tela-div" class="titulo_tela center-element black-border">
      <div class="texto_titulo center-element center-text black-border">
        Titulo do trem
      </div>
    </div>

    <div id="conteudo-tela-div" class="conteudo_tela center-element black-border">

      <div id="tabela" class="center-element center-text black-border">
        Conteudo do trem
      </div>

      <div id="imagem" class="center-element">
        <h1 class="black-border center-text">Sem imagem no momento.</h1>
      </div>

    </div>
  </div>

  <br/><br/>

  <div class="tabela verde">
    <div class="azul">algo</div>

    <div class="fila azul">
        <div class="cabecalho vermelho">Cabecalho 1</div>
        <div class="valor vermelho">Valor 1</div>
        <div class="clear"></div>
    </div>

    <div class="fila azul">
        <div class="cabecalho vermelho">Cabecalho 2</div>
        <div class="valor vermelho">Valor 2</div>
        <div class="clear"></div>
    </div>

    <div class="centrar fila azul">
        <div class="esquerda inline-div vermelho">Div 1</div>
        <div class="inline-block-div vermelho">Div 2</div>
        <div class="direita inline-div vermelho">Div 3</div>
    </div>

  </div>
