<div class="panel panel-default">
  <div class="panel-heading">
    Titulo tabela
  </div>

  <div class="panel-body panel-tabela-body">
    <table id="tabela" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Column 1</th>
          <th>Column 2</th>
          <th>Column 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Value 1</td>
          <td>Value 2</td>
          <td>Value 3</td>
        </tr>
        <tr>
          <td>Valor 1</td>
          <td>Valor 2</td>
          <td>Valor 3</td>
        </tr>
        <tr>
          <td>Value 4</td>
          <td>Value 5</td>
          <td>Value 6</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>